.asideListItem_container {
  position: relative;
  border-bottom: 1px solid #dcdcdc;
  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 11.5px 16px 11.5px 25px;
    &:hover {
      background-color: var(--bg-200);
    }
    h2 {
      font-size: 18px;
    }
    .icon {
      font-size: 18px;
    }
  }
  .drop_filter {
    transition: height 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    .filter_item {
      display: inline-block;
      transition: background 0.2s ease-in-out;
      cursor: pointer;
      padding: 10px 10px;
      color: var(--text-100);
      border: 1px solid var(--bd-100);
      border-radius: 5px;
      margin: 5px 5px;
      text-align: center;
      &:hover {
        color: var(--base-white);
        background-color: var(--base-black);
      }
    }
  }
  &.open {
    .title {
      .icon {
        transform: rotate(-45reg);
      }
    }
    .drop_filter {
      visibility: hidden;
      height: 0;
    }
  }
}
