.tagList_container {
  display: flex;

  ul {
    display: flex;

    .tag_btn {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      border: var(--bd-200);
      background: var(--base-black);
      border-radius: 10px;
      font-size: 12px;
      color: var(--base-white);
      margin-right: 10px;
      .icon {
        margin-left: 5px;
        cursor: pointer;
      }
    }
  }
}
